@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url(./global.css);
@import url(./animations.css);
@import url(./stalker.css);
@import url(./sucess.css);

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  overflow-x: hidden;
}

.botao {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: 0.2s ease all;
  background-color: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--white);
    color: var(--black);  
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Estilização - Seção Header */

.section {
  background: linear-gradient(to bottom, var(--gray-light), var(--blue-light));
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#menu {
  display: none;
  justify-content: center;
  align-items: center;

  @media screen and (width > 768px){
    display: flex;
  }
}

.menu_container {
  background: linear-gradient(90deg, var(--blue-dark), var(--blue-light));
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid var(--blue-500);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  filter: opacity(0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

#titulo {
  width: 100%;
  text-align: center;

  @media screen and (width > 768px){
    text-align: start;
  }
}

.menu_container a {
  font-weight: 700;
  color: var(--black);
  transition: 0.2s ease all;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    color: var(--white);
  }
}

.menu_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1120px;
  padding: 1rem;
}

.menu_list {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_list li {
  margin-left: 1rem;
}

#menu_content_sucess {
  width: 100%;
  max-width: 1120px;
  padding: 1rem;
}

/* Estilização da Seção Home */

.home_container {
  min-height: 100vh;
  max-width: 1120px;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  @media screen and (width > 768px){
    flex-direction: initial;
    gap: 5rem;
  }
}

.home_container p,
h1,
h4 {
  font-size: 1.3rem;
  text-align: center;
}

.home_container h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

.home_container h4 {
  font-weight: 700;
}

.home_container p {
  padding: 1rem 0;
}

.home_content {
  flex-direction: column;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_content img {
  width: 75%;
}

/* Estilização da Seção Sobre */

.sobre_container {
  max-width: 1120px;
  padding: 2rem;
  min-height: 100vh;
  gap: 2rem;
  background: linear-gradient(to bottom, var(--gray-light), var(--blue-light));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (width > 768px){
    flex-direction: initial;
    gap: 5rem;
  }
}

.sobre_container img {
  width: 40%;
  margin: 1rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 50%;
  border: 2px solid var(--blue-light);
}

.sobre_container h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  text-align: center;
}

.sobre_container p {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.sobre_github {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

#sobre_texto {
  margin-left: 2rem;
}

/* Estilização da Seção Contact */

.contato_container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1120px;
  color: var(--black);
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--gray-light), var(--blue-light));

  @media screen and (width > 768px){
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

.contato_container h4 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

.contato_content {
  flex-direction: column;
  font-size: 1.3rem;
}

.contato_content p {
  display: block;
  text-align: justify;
}

/* Estilização da Seção Redes Sociais*/

.social_container {
  display: flex;
  justify-content: space-evenly;
}

.social_icon {
  width: 4.75rem;
  height: 4.75rem;

  &:hover {
    filter: brightness(1.1) saturate(120%);
  }
}

/* Estilização da Seção Form*/

form {
  display: flex;
  flex-direction: column;
  margin: 7rem 0 0 0;
  padding: 1.25rem;
  border: none;
}

form label {
  font-size: 1.25rem;
  text-align: left;
}

form input,
textarea {
  width: 100%;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  resize: none;
  font-size: 1rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

form span {
  margin-bottom: 0.5rem;
  margin-left: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: red;
}

/* Estilização da Seção Footer */

footer {
  padding: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  color: rgb(243, 243, 243);
  background-color: rgb(26, 26, 26);

  & div {
    display: flex;
  }
}

.btn-change-theme {
  cursor: pointer;
  font-size: 1.5rem;
  padding-left: 1rem;
}

#select-language {
  padding: 0.2rem;
  margin-left: 1rem;
}

#whatsApp {
  width: 3rem;
  animation: .8s whatsapp infinite alternate;
  position: fixed;
  z-index: 4;
  cursor: pointer;
  bottom: 2rem;
  right: 2rem;

  @media screen and (width > 768px){
    width: 4.5rem;
    bottom: 2.5rem;
    right: 2.5rem;
  }
}