@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url(./global.css);
@import url(./animations.css);
@import url(./stalker.css);

button,
a {
  cursor: pointer;
}

.botao {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: 0.2s ease all;
  background: var(--black);
  color: var(--white);
  border: none;
}

.botao:hover {
  background: var(--white);
  color: var(--black);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilização - Seção Header */

.menu_container {
  background: linear-gradient(90deg, var(--blue-dark), var(--blue-light));
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid var(--blue-500);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  filter: opacity(0.9);
}

.menu_container a {
  font-weight: 700;
  color: var(--black);
  transition: 0.2s ease all;
  font-size: 1.2rem;
}

.menu_container a:hover {
  color: var(--white);
}

.menu_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1120px;
  padding: 0 1.5rem;
}

.menu_list {
  text-align: center;
  list-style: none;
}

.menu_list li {
  margin-left: 1rem;
}

#menu_content_sucess {
  width: 100%;
  max-width: 1120px;
  padding: 0 1.5rem;
}

/* Estilização da Seção Home */

.home_container {
  height: calc(100vh - 6.25rem);
  max-width: 1120px;
  margin: 1rem auto;
  padding: 0 1rem;
  gap: 5rem;
}

.home_container p,
h1,
h4 {
  font-size: 1.3rem;
  text-align: center;
}

.home_container h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

.home_container h4 {
  font-weight: 700;
}

.home_container p {
  margin: 1rem 0;
}

.home_container .botao {
  width: 40%;
}

.home_content {
  flex-direction: column;
  width: 50vw;
}

.home_content img {
  width: 75%;
}

.home_container_sucess {
  height: calc(100vh - 12.5rem);
  width: 100%;
  margin: 1rem auto;
  padding: 0 1rem;
  background-color: rgb(238, 252, 255);
}

#home_sucess {
  width: 50vw;
  flex-direction: column;
}

#home_sucess h1 {
  font-size: 2rem;
  font-weight: 700;
}

#home_sucess h4 {
  font-size: 1.3rem;
  padding: 1rem;
}

/* Estilização da Seção Sobre */

.sobre_container {
  max-width: 1120px;
  margin: -1.25rem auto;
  padding: 0 1rem;
  height: 100vh;
  gap: 5rem;
}

.sobre_container img {
  width: 40%;
  margin: 1rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 50%;
  border: 2px solid var(--blue-light);
  background: linear-gradient(135deg, var(--blue-light), var(--gray-dark));
}

.sobre_container h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  text-align: center;
}

.sobre_container p {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.sobre_github {
  justify-content: space-evenly;
}

#sobre_texto {
  margin-left: 2rem;
}

/* Estilização da Seção Contact */

.contato_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  max-width: 1120px;
  margin: 4rem auto 2rem;
  padding: 0 2rem;
  color: var(--black);
  padding: 2rem;
  border-radius: 10px;
}

.contato_container h4 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

.contato_content {
  flex-direction: column;
  margin: 4rem 0 0 0;
  font-size: 1.3rem;
}

.contato_content p {
  display: block;
  text-align: justify;
}

/* Estilização da Seção Redes Sociais*/

.social_container {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
}

.social_icon {
  width: 4.75rem;
  height: 4.75rem;
}

.social_icon:hover {
  filter: brightness(1.1) saturate(120%);
}

/* Estilização da Seção Form*/

form {
  display: flex;
  flex-direction: column;
  margin: 7rem 0 0 0;
  padding: 1.25rem;
  border: none;
}

form label {
  font-size: 1.25rem;
  text-align: left;
}

form input,
textarea {
  width: 100%;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

textarea {
  resize: none;
}

form span {
  margin-bottom: 0.5rem;
  margin-left: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: red;
}

/* Estilização da Seção Footer */

footer {
  margin: 0;
  padding: 2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  color: rgb(243, 243, 243);
  background-color: rgb(26, 26, 26);
  filter: opacity(0.9);
}

/* Modo Responsivo */

/* Smartphone - Telas até 490px */

@media screen and (max-width: 490px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  footer {
    margin-top: auto;
  }

  /* Ajustes no Menu*/

  .menu_container {
    height: auto;
    padding: 1rem 0;
  }

  .menu_content {
    justify-content: center;
    max-width: 100%;
    /* padding: 1rem; */
  }

  #titulo a {
    font-size: 1.75rem;
  }

  .menu_list {
    display: none;
  }

  /* Ajustes na Seção Home*/

  .home_container {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  .home_content {
    width: 100%;
  }

  .home_content h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .home_content .botao,
  img {
    width: 80%;
  }

  /* .home_content img{
        width: 80%;
    } */

  #home_texto {
    margin-top: 0.5rem;
  }

  #home_imagem {
    margin-bottom: 0;
  }

  /* Ajustes na Seção About*/

  .sobre_container {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }

  .sobre_container img {
    width: 70%;
  }

  .sobre_container h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .sobre_github {
    flex-direction: column;
    gap: 0.5rem;
  }

  .sobre_github p {
    display: none;
  }

  .sobre_github .botao {
    width: 80%;
  }

  /* Ajustes Contato */

  .contato_container {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding: 0 1rem;
  }

  .contato_content {
    width: 100%;
  }

  .contato_content h4 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .contato_content p {
    margin: 1rem;
  }

  /* Ajustes da Seção Redes Sociais */

  .social_container {
    justify-content: center;
    width: 100%;
  }

  .social_icon {
    width: 4rem;
    height: 4rem;
  }

  /* Ajustes da Seção Form */

  form {
    margin: 1rem 0 0 0;
    padding: 1rem;
  }
}

#whatsApp {
  width: 4.5rem;
  animation: .8s whatsapp infinite alternate;
  position: fixed;
  z-index: 4;
  cursor: pointer;
  bottom: 2.5rem;
  right: 2.5rem;
}

.btn-change-theme {
  cursor: pointer;
  font-size: 1.5rem;
  padding-left: 1rem;
}

#select-language {
  padding: 0.2rem;
  margin-left: 1rem;
}